.root {
    
    -fx-font-family: FiraCode-Bold;
    -fx-font-size: .975em;
    -fx-base: #31363b;
    -fx-accent: #41516d;
    -fx-background: #31363b;
    -fx-focus-color: #41516d;
    -fx-control-inner-background: #232629;
    -fx-inner-border: linear-gradient(to bottom, 
        derive(-fx-color,30%) 0%, 
        derive(-fx-color,-5%) 100%);
    -fx-body-color: linear-gradient(to bottom, 
        derive(-fx-color, -0%) 0%,
        derive(-fx-color, -2%) 20%,
        derive(-fx-color, -5%) 60%, 
        derive(-fx-color, -8%) 100%);

/* Background for items in list like things such as menus, lists, trees,
     * and tables. */
    -fx-selection-bar: -fx-accent;

    /* Background color to use for selection of list cells etc. This is when
     * the control doesn't have focus or the row of a previously selected item. */
    -fx-selection-bar-non-focused: #384d5d;

    /* The color to use as -fx-text-fill when painting text on top of
     * backgrounds filled with -fx-selection-bar.
     *
     * TODO: this can be removed
     */
    -fx-selection-bar-text: -fx-text-background-color;

    /* These are needed for Popup */
    -fx-background-color: inherit;
    -fx-background-radius: inherit;
    -fx-background-insets: inherit;
    -fx-padding: inherit;

    /* The color to use in ListView/TreeView/TableView to indicate hover. */
    -fx-cell-hover-color: #41516d;

    /** Focus line for keyboard focus traversal on cell based controls */
    -fx-cell-focus-inner-border: derive(-fx-selection-bar,30%);

    /* The colors to use in Pagination */
    -fx-page-bullet-border: #31363b;
    -fx-page-indicator-hover-border: #41464b;

    -fx-focused-text-base-color : ladder(
        -fx-selection-bar,
        -fx-light-text-color 45%,
        -fx-dark-text-color 46%,
        -fx-dark-text-color 59%,
        -fx-mid-text-color 60%
    );
    -fx-focused-mark-color : -fx-focused-text-base-color ;

    /***************************************************************************
     *                                                                         *
     * Set the default background color for the scene                          *
     *                                                                         *
     **************************************************************************/

    -fx-background-color: -fx-background;
}


.root.popup {
    -fx-background-color: transparent;
}

.hyperlink {
    -fx-fill: -fx-text-background-color;
}

.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: transparent;
    -fx-background-radius: 3px;
    -fx-alignment: CENTER-LEFT;
    -fx-text-fill: #65728B;
    -fx-font-size: .865em;
    -fx-padding: 8.0px;
    -fx-cursor: hand;
}

.split-pane {
    -fx-background-color: #31363b;
}

.split-pane:focused {
    -fx-background-color: #31363b;
}

.choice-box .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}

.label,
.check-box,
.text,
.radio-button {
    -fx-fill: -fx-text-background-color;
    -fx-text-fill: -fx-text-background-color;
}

.control-button {
    -fx-background-color: linear-gradient(from 48.0% 100.0% to 50.0% 43.0%, #960505 0.0%, #C21A4D 96.0%, #C21A4D 100.0%);
}

.button, .toggle-button, .check-box .box, .radio-button .radio, .choice-box, .menu-button, .tab, .combo-box-base {
    /*    -fx-background-insets: 0 0 0 0, 0, 1, 1;*/
}

.choice-box .label {
    /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}

.menu-button .label {
    /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}