/fxwebview/src/main/resources/codemirror/nbproject/private/
/fxwebview/src/main/resources/codemirror/public_html/nbproject/private/
/fxwebview/target/classes/codemirror/nbproject/private/
/fxwebview/target/classes/codemirror/public_html/nbproject/private/
/fxwebview/target/
/fxwebview/src/main/resources/codemirror/public_html/node_modules/
/fxcodemirror/target/
/fxcodemirror/src/main/resources/codemirror/nbproject/private/
/fxcodemirror/src/main/resources/codemirror/public_html/nbproject/private/
/fxcodemirror/src/main/resources/codemirror/public_html/node_modules/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/
.idea
*.iml
out
gen
.gitignore
src/test/
target/generated-sources/
target/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/



# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
logs/statistics/

logs/

\.gradle/2\.10/taskArtifacts/

RUNNING_PID
/fxcodemirror/src/main/resources/codemirror/node_modules/