#animateTest {
    -fx-background-color: 
        #083156,
        #657c87,
        #46626f,
        #123, 
        linear-gradient(#234,#345,#234), 
        linear-gradient(from 30% -10% to 70% 110%, rgba(100,155,155,0), rgba(100,155,155,.1) 50%, rgba(0,0,0,0) 50%);
    -fx-background-radius: 6,5,5,4,4,6;
    -fx-background-insets: 0, 1,2 1 1 1,2,2, 0;
    -fx-font-family: 'Francois One';
    -fx-font-size: 1.2em;
    -fx-padding: 15;
    -fx-text-fill: #def;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,155,255,.3) , 7 , 0.4 , 0 , 0 );
}



.label, .check-box, .radio-button {
    -fx-text-fill: -fx-text-background-color;
}
.button,
.toggle-button,
.check-box .box,
.radio-button .radio,
.choice-box,
.menu-button, .tab,
.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#animateTestArea {
     -fx-background-color: darkslategray;
}

.buttons-grid {
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#Background {
    -fx-background: #212528;
    -fx-background-insets: 0, 0 1 0 1;
}

.split-pane-main {
    -fx-background-color: transparent;
}
.split-pane-divider {
    -fx-background-color: transparent;
}

.canned-split-pane {
    -fx-padding: -1;
    -fx-background-color: transparent;
}
.button-anchorpane {
    -fx-background-color: #23272a;
    -fx-background-radius: 3,5,5,4,3,5;
    -fx-background-insets: 0, 1,2 1 1 1,2,2, 0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,155,255,.3) , 7 , 0.4 , 0 , 0 );
}
.root-pane {
    -fx-background-color: darkslategray;
}
.section-buttons {
    -fx-background-color: #2e3134, #2e3134, #2e3134, darkslategray;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 2px, 2px, 2px, 2px;
    /*-fx-padding: 0.11667em 0.233333em 0.133333em 0.233333em; !* 4 8 4 8 *!*/
    -fx-text-fill: #CDEFF1;
    -fx-font-size:  0.916667em
}
.section-buttons:focused {
    /*-fx-background-color: -fx-focus-color, #2e3134, #2e3134, #46626f;*/
    -fx-background-color: -fx-focus-color, #263835, #46626f, #394142, #46626f;
    /*-fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;*/
    -fx-background-insets: -0.2, 0.5, 1, -0.7, 1.3;
    -fx-background-radius: 3, 2, 1, 4, 1;
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,155,255,.3) , 7 , 0.4 , 0 , 0 );*/
}
.section-label {
    -fx-background-color: derive(darkslategray, 30%);
    -fx-background-radius: 2;
    -fx-padding: 0.233333em 0em 0.233333em 0em; /* 4 8 4 8 */
    -fx-background-insets: 0, 2, 0, 2;
    -fx-font-family: 'Noto Sans';
    -fx-font-weight: bold;
    -fx-font-size: 1em;
    -fx-text-fill: #CDEFF1;

    /*-fx-effect: dropshadow( three-pass-box , rgba(0,155,255,.3) , 7 , 0.4 , 0 , 0 );*/
}
