/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 21, 2017, 11:29:46 PM
    Author     : ericc
*/
.root {
    -fx-base: #31363B;
   -fx-background-color: #2E3134;
    -fx-background: #2E3134;
    -fx-focus-color: -fx-background-color;
}

.paint-picker-container {
-fx-background-color: #2E3134;
    -fx-padding: 0;
}
.color-picker-popover {
    -fx-font-size: 10px;
    
    -fx-background: derive(-fx-base, -60%);
  -fx-focus-color: rgb(105, 255, 205);
}

.label {
    -fx-text-fill: white;
}

.integer-field {
    -fx-alignment: BASELINE_LEFT;
    -fx-text-fill: white;
}
.webcolor-field {
    -fx-alignment: BASELINE_LEFT;
    -fx-text-fill: white;
}
