/*
Permissions of this copyleft license are conditioned on making available complete 
source code of licensed works and modifications under the same license or the 
GNU GPLv3. Copyright and license notices must be preserved. Contributors provide
an express grant of patent rights. However, a larger work using the licensed work
through interfaces provided by the licensed work may be distributed under
different terms and without source code for the larger work.
*/
/* 
    Created on : Apr 24, 2017, 4:00:53 AM
    Author     : ericc
*/
#gradientComboBox .list-cell {
    -fx-background-color:  #3f4258;
    -fx-text-fill: #e3e3e3;
    -fx-padding: 3 3 3 3;
   
}

.split-pane-caspian:horizontal {
    -fx-padding: 0;
}

.split-pane-caspian:horizontal .split-pane-divider {
    -fx-background-insets: -1 -1 -1 -1;
    -fx-background-color: #1D1E2A; 
}

#gradientComboBox .combo-box-popup .list-view .list-cell {
    -fx-padding: 3 3 3 3;
   
}
.choice-box-font {
    -fx-background-color:  #1D1E2A; 
}
.properties-pane {
    -fx-background-color: #14151F;
}
.slider-prop .track{
    -fx-background-color: #3f4258;
}
.slider-prop .thumb{
    -fx-background-color: #7986cb;
    -fx-focus-color: #65eEF1;  
}
.slider-prop .thumb:hover {
    -fx-background-color:  #6EFFFF;
}
#Gridpane-advanced, #PropertiesPanel {
    -fx-background-color:  #14151F;
}

.title {
    -fx-font-family: "Sans-Serif";
     -fx-font-size: 11pt;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    
}
.properties-tab {
     -fx-background-color:  #1D1E2A; 
}
.properties-tab .tab-container .tab-label {
    -fx-text-fill: #BCBCBC;
}
.properties-tab:selected:top {
    
    -fx-background-color:  #1D1E3C; 
   
}
.properties-tab:selected:top .tab-container .tab-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
     -fx-font-size: 10pt;
}
.big-button {
   -fx-font-weight: bold;
    -fx-background-color:
        linear-gradient(#c5cae9, #7986cb),
        radial-gradient(center 50% -40%, radius 200%, #5c6bc0 45%, #1a237e 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #FFF;
}
.big-button:hover {
   -fx-font-weight: bold;
    -fx-background-color:
        linear-gradient(#1288ff, #1188ff),
        radial-gradient(center 50% -40%, radius 200%, #a2b2ee 45%, #1162cc 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #111;
}
.prop {
    -fx-font-size: 10pt;
    -fx-text-fill: #e3e3e3;
}

.check-box-prop {
    -fx-text-fill: #e3e3e3;
}

#GridPane-Properties {
    -fx-background-color: #14151F; 
}

#input-text-field {
    -fx-skin: "com.sun.javafx.scene.control.skin.TextFieldSkin";
    -fx-text-fill: #e3e3e3;

}
.floating:top .tab-content-area {
    -fx-padding: 0;
    -fx-border-color: #484848;
}
.input-field {
    -fx-skin: "com.fxexperience.javafx.scene.control.skin.InputFieldSkin";
    -fx-background-color:  #3f4258;  
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 3 5 3 5;
    -fx-prompt-text-fill: #e3e3e3;
    -fx-cursor: text;
}

.input-field:focused {
    -fx-background-color: #3f4258; 
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
}

.input-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.integer-field {
    -fx-skin: "com.fxexperience.javafx.scene.control.skin.IntegerFieldSkin";
    -fx-background-color: #3f4258; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 3 5 3 5;
    -fx-prompt-text-fill: #e3e3e3;
    -fx-cursor: text;
}

.integer-field:focused {
    -fx-background-color:  #3f4258; 
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
}

.integer-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.double-field {
    -fx-skin: "com.fxexperience.javafx.scene.control.skin.DoubleFieldSkin";
    -fx-background-color: #3f4258; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 3 5 3 5;
    -fx-prompt-text-fill: #e3e3e3;
    -fx-cursor: text;
}

.double-field:focused {
    -fx-background-color:  #3f4258; 
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
}

.double-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.webcolor-field {
    -fx-skin: "com.fxexperience.javafx.scene.control.skin.WebColorFieldSkin";
    -fx-background-color:  #3f4258;  
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 3 5 3 5;
    -fx-prompt-text-fill: #e3e3e3;
    -fx-cursor: text;
}

.webcolor-field:focused {
    -fx-background-color: #3f4258; 
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
}

.webcolor-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

#gradientComboBox .list-cell {
    -fx-text-fill: #DCDCDC;
   -fx-padding: 0 0 0 7;
   -fx-background-insets: -1;
    -fx-cell-size: 15;
}

.properties-combo-box .arrow-button {
    -fx-background-color: #3f4258; 
    -fx-background-insets: -1;
}
.font-choice-box .context-menu {
     -fx-text-fill:  #DCDCDC;
      -fx-background-color: #3f4258; 
}
.font-choice-box .label {
     -fx-text-fill:  #DCDCDC;
}

.font-choice-box{
    -fx-text-fill:  #DCDCDC;
    -fx-background-color: #3f4258; 
}

