/*
Permissions of this copyleft license are conditioned on making available complete
source code of licensed works and modifications under the same license or the
GNU GPLv3. Copyright and license notices must be preserved. Contributors provide
an express grant of patent rights. However, a larger work using the licensed work
through interfaces provided by the licensed work may be distributed under
different terms and without source code for the larger work.


    Created on : May 8, 2017, 12:05:37 AM
    Author     : andje22*/


/*#Derivation-Panel {
    -fx-background-image: url("../images/bg.png");
}*/
.custom-menu-button {
    /*-fx-background-color: #31363B;*/
    -fx-pref-width: 200;
}
.prop-title {
    -fx-padding: 0;
    -fx-border-width: -1;
}
/*}
.main-grid {
    -fx-background-color: radial-gradient(center 35% 40%, radius 90%, rgba(255,255,255,0.3), rgba(255,255,255,0.05));
}
.prop-grid {
    -fx-background-color: radial-gradient(center 35% 40%, radius 90%, rgba(68,68,68,0.8), rgba(68,68,68,0.05));
}*/
/*.split-pane-main {
    -fx-background-color: transparent;
}*/
.split-pane-divider {
    -fx-background-color: #1C1C1C;
}

.css-text-area {
    -fx-text-fill: #FFF;
}
.css-text-area  {
    -fx-background-color: transparent;
}

.css-text-area  .scroll-pane {
    -fx-background-color: rgba(22, 22, 22, 0.8);
}

.css-text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.css-text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.label {
    -fx-text-fill: white;
}
.circle-button {
    -fx-background-radius: 30em;
    -fx-border-radius: 30em;
    -fx-min-height: 180px;
    -fx-min-width: 180px;
    -fx-max-height: 180px;
    -fx-max-width: 180px;

}
.derivation-slider .track {
/*     -fx-background-color: #6a6e71;
    -fx-border-color: #6a6e71;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;*/

}
.derivation-slider .thumb {
/*    -fx-border-color: #111;
    -fx-border-radius: 20px;
    -fx-background-color: rgba(147, 147, 147, .5);*/
}
.derivation-slider .thumb:hover{
    /*-fx-background-color: rgb(147, 147, 147);*/
}
.derivation-slider .axis:bottom {
    -fx-font-family: "Noto Sans";
    -fx-tick-label-fill: #CDEFF1;
    -fx-font-size: .63333em;
}
/*.color-picker .text {
    -fx-fill: #CDEFF1;
}*/
/*.color-picker {
    -fx-color: #282828;
    -fx-shadow-highlight-color: #323232;
}*/
.color-picker {
    -fx-text-fill: #CCC;
   
}
.paint-picker-container {
    /*-fx-background-color: #5f5f5f;*/
    -fx-padding: 0;
}

.reverse-result-textfield {
    -fx-background-color: transparent;
    -fx-text-fill: #CDEFF1;
}