.root{
    -fx-base: #303942;
    -fx-background: #31363b;
    -fx-focus-color: #3073b4;
    -fx-control-inner-background: derive(-fx-base, -20%);
    -fx-inner-border: linear-gradient(to bottom,
        derive(-fx-color,30%) 0%,
        derive(-fx-color,-5%) 100%);
    -fx-body-color: linear-gradient(to bottom,
        derive(-fx-color, -0%) 0%,
        derive(-fx-color, -2%) 20%,
        derive(-fx-color, -5%) 60%,
        derive(-fx-color, -8%) 100%);
}

.main-menu {
    -fx-background-color: #41424a;
    -fx-padding: 0.0em 0.666667em 0.0em 0.666667em; /* 0 8 0 8 */
    -fx-effect: dropshadow( two-pass-box, rgba(0,0,0,.33), 2, 0.0, 0, 1 );
    -fx-background-insets: 0 0 0 0, 0 1 0 1;
    -fx-background-radius: 0, 0;
}

.menu-toggle-button {
    -fx-font-family: "Roboto";
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-text-fill: #b4c4cb;
    -fx-font-size: 14px;
}
.status-bar {
    -fx-background-color: #404952;
    -fx-background-image: url("../images/primary_bg.png");
    -fx-border-color: -fx-inner-border;
    -fx-border-width: 1 0 0 0;
}
.menu-toggle-button .text {
    -fx-fill: #b4c4cb;
    -fx-text-fill: #b4c4cb;
}

.menu-toggle-button:hover, .menu-toggle-button:selected{
    -fx-background-color: rgba(35,39,42, .5);
    -fx-background-color: #51525a;
}

.menu-toggle-button:selected .font-awesome-menu-icon,
.menu-toggle-button:hover .font-awesome-menu-icon {
    -fx-fill: #6699ff;
}

.font-awesome-menu-icon {
    -fx-fill: #b4c4cb;
}

.tab-pane-pages:top .tab-header-area .headers-region .tab:selected:top {
    -fx-tab-min-width: 180px;
    -fx-pref-width: 180px;
}

.font-awesome-icon {
    -fx-fill: derive(-fx-text-base-color, -20%);
}

.split-pane {
    -fx-background-color: #31363b;
}

.split-pane:focused {
    -fx-background-color: transparent;
}

.choice-box .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}

.tab-pane:top .tab-header-area .tab-header-background {
    -fx-background-color: #4b5055, #31363b, #31363b;
}

.choice-box .label {
    /*     Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}

.menu-button .label {
    /*     Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}




