/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2018, 3:52:36 AM
    Author     : andje22
*/

.body {
    -fx-background-color: #404952;
    -fx-background-image: url("../images/primary_bg.png");
}
.titled-pane:expanded .content,
.titled-pane:collapsed .content {
    -fx-background-color: #2c343c77;
}
#Preview-Alpha {
    -fx-background-image: url("../images/chequers.png");
    -fx-background-color: #FFF;
}
.button-hbox {
     -fx-background-color: #303942;
}
.prop-label {
    -fx-font-family: OpenSans-Regular;
    -fx-text-fill: #CCC;
    -fx-font-size: 1em;

}

.row-label {
    -fx-font-size: 13px;
    -fx-font-family: OpenSans-Regular;
    -fx-text-fill: #fcb215;
}
/* ==== SWITCH STYLED CHECKBOX ============================================== */
.switch .box{
    -fx-padding: -1;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}
.switch:selected .box {
    -fx-background-color: transparent;
}
.switch:focused .box{
    -fx-background-color: transparent;
}
.switch:focused:selected .box {
    -fx-background-color: transparent;
}
.fa-switch-icon {
    -glyph-name: "TOGGLE_OFF";
    -fx-fill: #986488;
}
.switch:selected .fa-switch-icon {
    -glyph-name: "TOGGLE_ON";
    -fx-fill: #6699ff;
}
.switch:focused .fa-switch-icon {
    -glyph-name: "TOGGLE_OFF";  
}
.switch:focused:selected .fa-switch-icon {
    -glyph-name: "TOGGLE_ON";
}
.switch .mark {
    -fx-background-color: transparent;
    -fx-padding: -1;
    -fx-shape: null;
}
.row-label .text {
        -fx-font-size: 13px;
    -fx-font-family: OpenSans-Regular;
    -fx-text-fill: #fcb215;
}
.row-title-hbox {
        -fx-background-color: #6699ff36;
          -fx-border-color: derive(#303942, -22%);
    -fx-border-width: 1px;
}

.slider-prop .track{
    /*-fx-background-color: #6699ff;*/
    /*-fx-border-color: #23232D;*/
     -fx-fill: #FFF;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
}

.slider-prop .axis:bottom {
    -fx-font-family: OpenSans-Regular;
    -fx-tick-label-fill: #C2C2C3;
    -fx-font-size: .63333em;
}
.slider-prop .axis {
    -fx-tick-label-fill: #FFF;
    -fx-tick-length: 5px;
    -fx-minor-tick-length: 3px;
    -fx-border-color: null;
}
.slider-prop .axis:bottom .axis-tick-mark {
    -fx-stroke: #b4c4cb;
}

.slider-prop .axis:bottom .axis-minor-tick-mark {
    -fx-stroke: #51525a;
}
.slider-prop .axis:bottom .axis-tick-mark {
    -fx-fill: #FFF;
}