/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 25, 2018, 2:06:06 AM
    Author     : andje22
*/
.root {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 1em;
    -fx-base: #31363B;
    -fx-background: #31363B;
    -fx-focus-color: #0093FF;
    -fx-control-inner-background: #232629;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,85%) 0%, derive(-fx-color,94%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, 45.0%) 0%, derive(-fx-color, 34.0%) 50%, derive(-fx-color, -52%) 50.5%, derive(-fx-color, 67%) 100%);
    -fx-outer-border: derive(-fx-color,56%);
    -fx-shadow-highlight-color: derive(-fx-background,-26.0%);
    
}
.root-pane {
    -fx-background-color: #232629;
}

.color-picker {
     -fx-skin: "com.paintpicker.scene.control.picker.skins.PaintPickerSkin";
    -fx-background-color: transparent; 
}

.color-picker .arrow-button  {
    -fx-opacity: 0.0;
    -fx-cursor: text;
}

.color-picker .color-picker-label .text {
    -fx-fill: #ccc;
}
.transparent-pattern {
    -fx-background-image:  url("../images/chequers.png");
    -fx-background-repeat: repeat;
    -fx-background-size: auto;
}