/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 29, 2017, 7:27:20 PM
    Author     : andje22
*/

#Code-dialog{
    -fx-background-color: #323232;
}
#Code-dialog > *.button-bar > *.container{
    -fx-background-color: #323232;
}
#Code-dialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #DCDCDC;
}
#Code-dialog:header *.header-panel{
    -fx-background-color: #323232;
}
#Code-dialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #DCDCDC;
}