#Gradient-Panel {
    -fx-background-image: url("../images/bg.png");
}

.label {
    -fx-text-fill: #C2C2C3;
}

.color-picker .text {
    -fx-fill: #C2C2C3;
}
.color-picker {
    -fx-color: #282828;
    -fx-shadow-highlight-color: #323232;
}

/*******************************************************************************
 * Popup Color Picker MenuButton 			                                   *
 ******************************************************************************/
.popup-pane {
    -fx-background-color: -fe-body-background;
    -fx-border-color: transparent;
    -fe-focus-color: transparent;
    -fx-padding: 0;
}
.custom-menu-button {
    -fx-border-insets: -2;
    -fx-background-insets: -2;
}
.custom-menu-button .arrow {
    -fx-background-color: #7a8390;
}

.custom-menu-button {
    -fx-background-color: -gray-darker;
    -fx-border-color: -fe-border;
    -fx-font-size: 0.875em;
}

.custom-menu-item:focused,
.custom-menu-item:hover{
    -fx-text-fill: -text-primary;
    -fx-border-color: transparent;
    -fe-focus-color: -gray-one;
    -fx-background-radius: 1, 1, 1;
}

.custom-menu-button .label .text {
    -fx-fill: -text-secondary;
}
.color-picker {
    -fx-text-fill: #333333;
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}
.gradient-text-area .content {
    -fx-background-color: #2E3134;
}

.gradient-text-area {
    -fx-text-fill: #C2C2C3;
}
.gradient-text-area  {
    -fx-background-color: rgba(22,22,22,0.4);
}

.gradient-text-area  .scroll-pane {
    -fx-background-color: transparent;
}

.gradient-text-area  .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.gradient-text-area  .scroll-pane .content{
    -fx-background-color: transparent;
}
.gradient-object {
    -fx-font-family: "Noto Sans";
    -fx-font-size: 20px;
    -fx-text-fill: #C2C2C3;
    -fx-background-radius: 20;

}

.gradient-object {
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%,
    #193a69b2 0.0%,
    #3f2f6bb2 45.0%,
    #1d2c43 75.0%,
    #313ca3 98.0%,
    #313ca3 100.0%);
}

.gradient-shape {
    -fx-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%,
    #193a69b2 0.0%,
    #3f2f6bb2 45.0%,
    #1d2c43 75.0%,
    #313ca3 98.0%,
    #313ca3 100.0%);
}

.paint-picker-container {
    -fx-background-color: #5f5f5f;
    -fx-padding: 0;
}