/*
Permissions of this copyleft license are conditioned on making available complete
source code of licensed works and modifications under the same license or the
GNU GPLv3. Copyright and license notices must be preserved. Contributors provide
an express grant of patent rights. However, a larger work using the licensed work
through interfaces provided by the licensed work may be distributed under
different terms and without source code for the larger work.
*/
.root {

    /*-font-family: 'Roboto';*/
}
@font-face {
    src: url('/fonts/Roboto-Light.ttf');

}

.nav-box {
    /*-fx-background-image: url("../images/binding_dark.png");*/
    -fx-border-width: 0;
    /*-fx-effect: innershadow( three-pass-box , rgba(32,32, 32,0.5) ,60, 0.0 , 0 , 0 );*/
    /*    -fx-background-color:  -fe-dark-inner-background;*/
    /*-fx-background-insets: 1, -5, 1, -5;*/
    /*-fx-background-radius: 9;*/
}

/*******************************************************************************
 * Alert Notification		                                                   *
 ******************************************************************************/
.status-dialog {
    -fx-background-color: #84b6eb;
}
.status-label {
    -fx-text-fill: black;
    -fx-font: 1em bold;
}
/*******************************************************************************
 * Menu Bar			                                                           *
 ******************************************************************************/
.menu {

}

.menu:hover,
.menu-button .menu:hover {
}

.main-menu {
    /*    -fx-background-color:  derive(rgb(147, 147, 147), -60%);*/
    /*-fx-background-insets: 0 0 1 0, 0, 1 0 0 0, 1 0 0 0;*/
    -fx-font-size: 16px;
    -fx-alignment: center-left;
    /*-fx-effect: dropshadow( two-pass-box, -gray-light, 2, 0.0, 0, 1 );*/

    -fx-font-family: "Roboto";
    /* Nothing more needed for Mac OS X than the following property!
     * All other definitions kept from caspian, to ensure, that MenuBar
     * is shown properly on non-mac systems.
     */
    -fx-use-system-menu-bar: true;
}

.main-menu .container .menu:openvertically .label .text {
}

.menu-item:focused,
.menu-item:hover {
    /*       -fx-background-insets: 1, 1, 1;*/
}

.menu-button .menu {
}

.menu-bar .menu .label {
}

.main-menu .container .menu:openvertically .label .text {

}

.context-menu {
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";*/
    /*    -fx-background-insets: 0, 1, 2;*/

    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  /* 8 1 8 1 */
    /*-fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

/*******************************************************************************
 * Preview panel background		                                               *
 ******************************************************************************/
#ContentPanel {
    /*    -fx-background-color: transparent;*/
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 2 );
}

#PropertiesPanel .title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/*******************************************************************************
 * Properties input fields		                                               *
 ******************************************************************************/
.integer-field {
    -fx-alignment: BASELINE_LEFT;
}

.menu-toggle-button {
    -fx-font-family: "Roboto";
    -fx-border-width: 0 0 0 0;
    -fx-font-size: 12px;
}

.menu-toggle-button:hover, .menu-toggle-button:selected{
}


