/*
Permissions of this copyleft license are conditioned on making available complete
source code of licensed works and modifications under the same license or the
GNU GPLv3. Copyright and license notices must be preserved. Contributors provide
an express grant of patent rights. However, a larger work using the licensed work
through interfaces provided by the licensed work may be distributed under
different terms and without source code for the larger work.
*/
.root {
    -fe-body-background: #2c2f33;
    -fe-inner-background: #23272a;
    -fe-border: #676B6F;
    -fe-body-text: #D7D7D7;
    -fe-inner-text: #FFF;
    -fe-color: #2c2f33;
    -fe-body-color: #23272a;

    -fe-shadow-highlight-color: #282828;
    -fe-outer-border: #343434;
    -fe-inner-border: #464646;
    -fx-background-color: #111;

    -fe-control-inner-background: #23272a;
    -font-family: "Noto Sans";
    -fe-background-color: #23272a;
    -fe-focus-background: #334455;
    -fe-focus-color: #3397B7;
    -dark-header: #23272a;
    -gray-darker: #2c2f33;
    -gray-dark: #2d2d2d;
    -gray-one: #383838;
    -gray-light: #444444;
    -gray-lighter: #5c5c5c;
    -text-primary: #FFF;
    -text-secondary: derive(#FFF, -5%);
    -text-disabled: derive(#FFF, -50%);

    -fe-text-box-border: #676B6F;
}

.nav-box {
   -fx-background-image: url("../images/binding_dark.png");
    /*-fx-effect: innershadow( three-pass-box , rgba(32,32, 32,0.5) ,60, 0.0 , 0 , 0 );*/
/*    -fx-background-color:  -fe-dark-inner-background;*/
    /*-fx-background-insets: 1, -5, 1, -5;*/
    /*-fx-background-radius: 9;*/
}
#Main-Panel {
    -fx-background-image: url("../images/bg.png")
}

/*******************************************************************************
 * Alert Notification		                                                   *
 ******************************************************************************/
.status-dialog {
   -fx-background-color: #84b6eb;
}
.status-label {
    -fx-text-fill: black;
    -fx-font: 1em bold;
}

.main-menu {
    /*    -fx-background-color:  derive(rgb(147, 147, 147), -60%);*/
    /*-fx-background-color: derive(-dark-header, 0%), derive(-dark-header, 25%),  derive(-dark-header, -20%),  -dark-header;*/
-fx-background-color: derive(#23272a, -18%);
    -fx-padding: 0.0em 0.666667em 0.0em 0.666667em; /* 0 8 0 8 */
    /*-fx-effect: dropshadow( two-pass-box, -gray-light, 2, 0.0, 0, 1 );*/
    -fx-background-insets: 0 0 0 0, 0 1 0 1;
    -fx-background-radius: 0, 0;
}

/*******************************************************************************
 * Preview panel background		                                               *
 ******************************************************************************/

#Preview-area {
    -fx-background-color: -fx-background;
}

#ContentPanel {
    -fx-background-color: transparent;
}

/*******************************************************************************
 * Properties input fields		                                               *
 ******************************************************************************/
#PropertiesPanel .title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}


#PropertiesPanel .title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.integer-field {
    -fx-alignment: BASELINE_LEFT;
}

.menu-toggle-button {
    -fx-font-family: "Roboto";
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-text-fill: #FFF;
    -fx-font-size: 12px;
}

.menu-toggle-button:hover, .menu-toggle-button:selected{
    -fx-background-color: rgba(35,39,42, .5);
}


