.root {
    -fx-font-family: 'null';
    -fx-font-size: 12px;
    -fx-base: #213870;
    -fx-background: #2C2F33;
    -fx-focus-color: #0093FF;
    -fx-control-inner-background: #23272A;
    -fx-inner-border: linear-gradient(to bottom,
    derive(-fx-color,68.0%) 0%,
    derive(-fx-color,52.0%) 100%);
    -fx-body-color: linear-gradient( to bottom,
    derive(-fx-color, 20.0%) 0%,
    derive(-fx-color, 20.0%) 100%);
}

.label,
.button,
.toggle-button,
.choice-box,
.text {
    -fx-font-family: 'Roboto';
}

.button,
.toggle-button,
.choice-box {
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 3px 10px 3px 10px;
}

.menu-button {
    -fx-background-radius: 5, 5, 4, 3;
}

.menu-button .label {
    -fx-padding: 3px 18px 3px 10px;
}

.menu-button .arrow-button {
    -fx-padding: 3px 6px 3px 0px;
}

.choice-box {
    -fx-padding: 0 6px 0 0;
}

.choice-box .label {
    -fx-padding: 3px 4px 3px 6px;
}

.choice-box .open-button {
    -fx-padding: 1 0 0 8px;
}

.combo-box-base:editable .text-field,
.combo-box-base .arrow-button,
.combo-box .list-cell {
    -fx-padding: 3px 6px 3px 6px;
}

.hyperlink {
    -fx-fill: -fx-text-background-color;
}

.toggle-button:selected {
    -fx-text-fill: -fx-text-base-color;
}

.label, .check-box, Text, .radio-button {
    -fx-font-family: -fx-font-type;
    -fx-fill: -fx-text-background-color;
    -fx-text-fill: -fx-text-background-color;
}

.text {
    -fx-font-family: 'null';
}

.button,
.toggle-button,
.check-box .box,
.radio-button .radio,
.choice-box,
.menu-button,
.tab, .combo-box-base {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}

.button:focused,
.toggle-button:focused,
.check-box:focused .box,
.radio-button:focused .radio,
.choice-box:focused,
.menu-button:focused,
.combo-box-base:focused {
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base .arrow-button {
    -fx-background-insets: 0, 1, 2;
}

.choice-box .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}

.menu-button .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
