/*
Permissions of this copyleft license are conditioned on making available complete 
source code of licensed works and modifications under the same license or the 
GNU GPLv3. Copyright and license notices must be preserved. Contributors provide
an express grant of patent rights. However, a larger work using the licensed work
through interfaces provided by the licensed work may be distributed under
different terms and without source code for the larger work.
*/
/* 
    Created on : May 8, 2017, 12:05:37 AM
    Author     : andje22
*/
#SplineEditor {
    -fx-background: -fe-dark-body-background;
}

#Background {
    -fx-background-image: url("/images/darkdenim.png");
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.4) , 80, 0.0 , 0 , 0 );
}

.label {
    -fx-text-fill: -fe-light-body-text;
}
.animation-label {
    -fx-font-family: "Calibre";
    -fx-font-weight: bold; 
    -fx-font-size: 16px;
    -fx-text-fill: #66ffff;
    -fx-underline: true;
}

.code-text {
    -fx-font-family: "Courier New";
    -fx-font-size: 16px;
}
.big-button {
    -fx-font-size: 0.875em;
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.big-button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
.big-button Text {
    -fx-font-size: 0.875em;
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.6) , 0, 0.0 , 0 , 1 );
}
.chart-plot-background {
    -fx-background-color: rgba(255,255,255,0.05);
}
.chart-vertical-grid-lines {
    -fx-stroke: rgba(255,255,255,0.1);
}
.chart-horizontal-grid-lines {
    -fx-stroke: rgba(255,255,255,0.1);
}
.tick-mark {
    -fx-fill: white;
    -fx-font-size: 11px;
}


