/*
    Created on : Apr 24, 2017, 4:00:53 AM
    Author     : Eric Canull
*/
.root {
    -fe-body-background: #232629;
    -fe-inner-background: #2E3134;
    -fe-border: #616569;
    -fe-body-text: #9BBBBB;
    -fe-inner-text: #CDEFF1;

    -fx-background-color: #2E3134;
    -fx-focus-color: #339797;
}

/*******************************************************************************
 * Popup Color Picker MenuButton 			                                   *
 ******************************************************************************/
.popup-pane {
    -fx-background-color: -fe-body-background;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-padding: 0;
}
.custom-menu-button {
    -fx-border-insets: -2;
    -fx-background-insets: -2;
}
.custom-menu-button .arrow {
    -fx-background-color: #878787;
}

.custom-menu-button {
    -fx-background-color: -fe-inner-background, -fe-inner-background,
    -fe-inner-background, -fe-inner-background;

    -fx-border-color: -fe-border;
    -fx-font-size: 0.875em;
}

.custom-menu-item:focused,
.custom-menu-item:hover{
    -fx-text-fill: #FFF;
    -fx-border-color: -fe-border;
    -fx-focus-color: -fe-border;
    -fx-background-radius: 1, 1, 1;
}

.custom-menu-button .label .text {
    -fx-fill: -fe-inner-text;
}

.color-label {
    -fx-text-fill: -fe-body-text;
    -fx-font-size: 0.1em;
    /*     -fx-padding: 0 0 0 5;*/
}
.color-text-field {
    -fx-text-fill: -fe-body-text;
    -fx-font-size: 0.1em;
    -fx-padding: 0.166667em 0.7em 0.166667em 0.7em;
}

.split-pane {
       -fx-background-color: -fe-inner-background;
 }

.split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.split-pane-caspian:horizontal {
    -fx-background-insets: -1 -1 -1 -1;
    -fx-padding: 0;
}

.split-pane-caspian:horizontal .split-pane-divider {
    -fx-background-insets: -1 -1 -1 -1;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.gradient-combo-box .list-cell .text {
    -fx-font-family: "Helvetica Neue", "Lucida Grande", "sans-serif";
    -fx-font-size: 0.8666em;
    -fx-fill: -fe-body-text;
}
.gradient-combo-box .combo-box-popup .list-view .list-cell {
    -fx-background-color: -fe-inner-background;
    -fx-text-fill: -fe-body-text;
}

.gradient-combo-box {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    /*-fx-border-color: -fe-border;*/
    /*-fx-background-insets: 0;*/
}
.gradient-combo-box .arrow-button {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    /*-fx-border-color: transparent;*/
    /*-fx-border-width: 0.2 .2 0.2 .2;*/
    /*-fx-background-insets: 0;*/
    /*-fx-border-insets: 1;*/
}

#font-box {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size:  0.93333em;
}

#font-box .context-menu {
    -fx-text-fill: -fe-inner-text;
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
}

#font-box .label {
    -fx-text-fill: -fe-body-text;
    -fx-font-size: 1em;
}

.slider-prop .track{
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
}

.slider-prop .thumb {
    -fx-border-color: #111;
    -fx-border-radius: 20px;
    -fx-background-color: rgba(147, 147, 147, .5);
}

.slider-prop .thumb:hover{
    -fx-background-color: rgb(147, 147, 147);
}
.slider-prop .axis:bottom {
    -fx-font-family: "Helvetica Neue", "Lucida Grande", "sans-serif";
    -fx-tick-label-fill: -fe-body-text;
    -fx-font-size: .63333em;
}

/*******************************************************************************
 * Title Pane    	                                                           *
 ******************************************************************************/

.titled-pane > .title {
    -fx-font-family: "Helvetica Neue", "Lucida Grande", "sans-serif";

    -fx-background-color: derive(#353A3F, -60%), derive(#353A3F, -60%), derive(#353A3F, 40%), #353A3F;

    -fx-background-insets: 0 0 -1 0, 0, 1 0 0 0, 2 0 0 0;
    -fx-padding: 0.385em 0.692em 0.231em 0.692em;
    -fx-font-size: 0.875em;
    -fx-alignment: center-left;
    -fx-effect: dropshadow( two-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 1 );
}
.titled-pane:expanded .content {
    -fx-background-color: -fe-body-background;
    -fx-border-color: transparent;

}
.titled-pane .content {
    -fx-background-color: -fe-body-background;
    -fx-border-color: transparent;

}
.titled-pane .context-menu {
    -fx-background-color: derive(#353A3F, -60%), derive(#353A3F, -60%), derive(#353A3F, 40%), #353A3F;
}

.titled-pane > .title > .text {
    -fx-fill: #CDEFF1;
}

.titled-pane > .title > .arrow-button {
    -fx-padding: -0.154em 0.583em 0.0em 0.0em;
}
.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: derive(rgb(147, 147, 147), -32%);
    -fx-padding: 0.154em 0.231em 0.231em 0.231em; /* 2 3 3 3 */
}

.sub-title {
    -fx-text-fill: derive(rgb(147, 147, 147), 85%);
    -fx-border-width: 0.5 0 0.5 0;
    -fx-border-color: derive(rgb(122, 122, 122), -85%);

    -fx-background-color: linear-gradient(from 93% 10% to 33% 83%, derive(#31363B, 21%), derive(#31363B, 10%));
}

.pane-shadow {
    -fx-background-color: derive(rgb(147, 147, 147), -87%);
    -fx-effect: dropshadow( two-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 0 );
}

.prop-label {
    -fx-font-family: "Helvetica Neue", "Lucida Grande", "sans-serif";
    -fx-text-fill: -fe-body-text;
    -fx-font-size:  0.8666em;
}

.title-label {
    -fx-font-family: "Helvetica Neue", "Lucida Grande", "sans-serif";
    -fx-font-size: 0.93333em;
    -fx-text-fill: -fe-body-text;
}
.check-box-prop {
    -fx-text-fill: -fe-inner-text;
    -fx-font-size: 0.83333em;
}

.check-box-prop > .box {
    -fx-background-color: -fe-inner-background;
}

.double-field {
    -fx-text-fill: -fe-inner-text;
    -fx-font-size: 0.833335em;
}

.floating:top .tab-content-area {
    -fx-padding: 0;
    -fx-border-insets: 3, 3;
    -fx-border-radius: 3, 3;
    -fx-border-color: -fe-border;
    -fx-background-color: transparent;
    -fx-background-insets: 3, 3;
    -fx-background-radius: 3, 3;
}

.double-field {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: #65d2c6;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
    -fx-prompt-text-fill: -fe-inner-text;
    -fx-cursor: text;
}

.double-field:focused {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
}

.double-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.double-field {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
    -fx-prompt-text-fill: -fe-inner-text;
    -fx-cursor: text;
}

.integer-field:focused {
    -fx-background-color: -fe-inner-background;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
}

.properties-combo-box {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -1;
}

.properties-combo-box .arrow-button {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -1;
    -fx-font-size: 0.875em;
}

.properties-combo-box .text {
    -fx-text-fill: -fe-inner-text;
}

.toggle-switch {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
    -fx-text-fill: #C98989;
    -fx-font-size: 0.63333em;
}

.toggle-switch:selected {
    -fx-text-fill: #6699ff;
    -fx-font-size: 0.63333em;
}