/*
Permissions of this copyleft license are conditioned on making available complete 
source code of licensed works and modifications under the same license or the 
GNU GPLv3. Copyright and license notices must be preserved. Contributors provide
an express grant of patent rights. However, a larger work using the licensed work
through interfaces provided by the licensed work may be distributed under
different terms and without source code for the larger work.
*/
/* 
    Created on : Apr 24, 2017, 4:00:53 AM
    Author     : ericc
*/
#gradientComboBox .list-cell {
    
    -fx-background-color: #5A5A5A;
    -fx-text-fill:  derive(rgb(147, 147, 147), -79%);
    
  

}
#gradientComboBox {
 -fx-border-color: #878787;
 -fx-background-color: #5A5A5A;
}
#gradientComboBox .label{
 -fx-border-color: #878787;
}


#ContentArea {
    -fx-background: black;
}
anchor-pane {
     -fx-background-color:  #5A5A5A;
}
accordian-prop .titled-pane {
     -fx-background-color: #5A5A5A;
}
.animation-label {
    -fx-font-weight: bold; 
    -fx-font-size: 1.1em;
}

.split-pane-caspian:horizontal {
     -fx-background-insets: -1 -1 -1 -1;
    -fx-padding: 0;
}

.split-pane-caspian:horizontal .split-pane-divider {
    -fx-background-insets: -1 -1 -1 -1;
    -fx-background-color: transparent;
    -fx-padding: 0;

}

#gradientComboBox .combo-box-popup .list-view .list-cell {
    -fx-padding: 3 3 3 3;
}


#font-box {
    -fx-background-color: #5A5A5A;
     -fx-border-color: #878787;
     -fx-font-size: 0.875em;
}
#font-box .context-menu {
    -fx-text-fill:  #DCDCDC;
    -fx-background-color: #5A5A5A; 
     -fx-border-color: #878787;
}
#font-box .label {
    -fx-text-fill:  #DCDCDC;
    -fx-font-size: 0.875em;
}

.slider-prop .track{
    -fx-background-color: #5A5A5A; 
    -fx-fill: #878787;
    -fx-border-color: #878787;
}
.slider-prop .thumb {
     -fx-background-color: rgb(147, 147, 147);
}

.slider-prop .thumb:hover{
    -fx-background-color: rgb(147, 147, 147);
}



/*******************************************************************************
 * Title Pane    	                                                       *
 ******************************************************************************/

.titled-pane > .title {
    -fx-background-color: derive(rgb(147, 147, 147), -60%), derive(rgb(147, 147, 147), -60%), derive(rgb(147, 147, 147), 40%), rgb(147, 147, 147);
    -fx-background-insets: 0 0 -1 0, 0, 1 0 0 0, 2 0 0 0; 
    -fx-padding: 0.385em 0.692em 0.231em 0.692em;
    -fx-font-size: 0.875em;
    -fx-alignment: center-left;
    -fx-effect: dropshadow( two-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 1 );
}
.titled-pane:expanded .content {
  -fx-background-color: #636363;
  -fx-border-color: transparent;
    
}
.titled-pane .content {
  -fx-background-color: #636363;
  -fx-border-color: transparent;
    
}
.titled-pane .context-menu {
     -fx-background-color: derive(rgb(147, 147, 147), -60%), derive(rgb(147, 147, 147), -60%), derive(rgb(147, 147, 147), 40%), rgb(147, 147, 147);
}

.titled-pane > .title > .text {
    -fx-fill: derive(rgb(147, 147, 147), -70%)
}

.titled-pane > .title > .arrow-button {
    -fx-padding: -0.154em 0.583em 0.0em 0.0em; 
}
.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: derive(rgb(147, 147, 147), -32%);
    -fx-padding: 0.154em 0.231em 0.231em 0.231em; /* 2 3 3 3 */
}

.sub-title {
     -fx-text-fill: derive(rgb(147, 147, 147), 85%);
    -fx-font-size: 0.875em;
    -fx-border-width: 0.5 0 0.5 0;
    -fx-border-color: derive(rgb(122, 122, 122), -85%);
    -fx-background-color: 
        linear-gradient(to left, derive(rgb(147, 147, 147), -20%), derive(rgb(147, 147, 147), -30%)),
        linear-gradient(to left, derive(rgb(147, 147, 147), -30%) 0%, derive(rgb(147, 147, 147), -50%));
}
.pane-shadow {
    -fx-background-color: derive(rgb(147, 147, 147), -87%);
    -fx-effect: dropshadow( two-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 0 );
}
.prop-label .text {
    -fx-font-size: 0.875em;
}

.prop-label {
    -fx-text-fill: #e3e3e3;
}

.title-label {
      -fx-font-size: 0.875em;
   -fx-text-fill:#e3e3e3;
   
}
.check-box-prop {
    -fx-text-fill: #e3e3e3;
    -fx-font-size: 0.875em;
}


#input-text-field {
    -fx-skin: "com.sun.javafx.scene.control.skin.TextFieldSkin";
    -fx-text-fill: #e3e3e3;
    -fx-font-size: 0.875em;

}
.floating:top .tab-content-area {
    -fx-padding: 0;
    -fx-border-insets: 3, 3;
    -fx-border-radius: 3, 3;
     -fx-border-color: #878787;
    -fx-background-color: transparent;
    -fx-background-insets: 3, 3;
    -fx-background-radius: 3, 3;
}
.input-field {
    -fx-skin: "com.fxexperience.javafx.scene.control.skin.InputFieldSkin";
    -fx-background-color: #5A5A5A; 
     -fx-border-color: #878787;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 3 5 3 5;
    -fx-prompt-text-fill: #e3e3e3;
    -fx-cursor: text;
    
}

.input-field:focused {
    -fx-background-color: #5A5A5A; 
     -fx-border-color: #878787;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
}

.input-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.integer-field {
    -fx-skin: "com.fxexperience.javafx.scene.control.skin.IntegerFieldSkin";
   -fx-background-color: #5A5A5A; 
    -fx-border-color: #878787;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 3 5 3 5;
    -fx-prompt-text-fill: #e3e3e3;
    -fx-cursor: text;
}

.integer-field:focused {
    -fx-background-color: #5A5A5A; 
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
}

.integer-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.double-field {
    -fx-skin: "com.fxexperience.javafx.scene.control.skin.DoubleFieldSkin";
    -fx-font-size: 0.875em;
   -fx-background-color: #5A5A5A; 
    -fx-border-color: #878787;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 3 5 3 5;
    -fx-prompt-text-fill: #e3e3e3;
    -fx-cursor: text;
}

.double-field:focused {
  -fx-background-color: #5A5A5A; 
   -fx-border-color: #878787;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
}

.double-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.webcolor-field {
    -fx-skin: "com.fxexperience.javafx.scene.control.skin.WebColorFieldSkin";
    -fx-font-size: 0.875em;
    -fx-background-color: #5A5A5A; 
     -fx-border-color: #878787;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 3 5 3 5;
    -fx-prompt-text-fill: #e3e3e3;
    -fx-cursor: text;
}

.webcolor-field:focused {
    -fx-background-color: #5A5A5A; 
     -fx-border-color: #878787;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
}

.webcolor-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.properties-combo-box .arrow-button {
    -fx-background-color:  #5A5A5A;
    -fx-border-color: #878787;
    -fx-background-insets: -1;
    -fx-font-size: 0.875em;
}

.properties-combo-box .text {
    -fx-text-fill:  #99c2C1;
}

.toggle-switch {
   -fx-background-color: 
        #878787,
        linear-gradient(#797979, #686868),
        linear-gradient(#585858, #474752),
        linear-gradient(#585858, #535353);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: #C98989;
     -fx-font-size: 0.765em;
}

.toggle-switch:selected {
    -fx-text-fill: #6699ff;
     -fx-font-size: 0.765em;
}