/*
    Created on : Apr 24, 2017, 4:00:53 AM
    Author     : Eric Canull
*/
.root {
    -fe-body-background: #2c2f33;
    -fe-inner-background: #23272a;
    -fe-border: #676B6F;
    -fe-body-text: #D7D7D7;
    -fe-inner-text: #FFF;
    -fe-color: #2c2f33;
    -fe-body-color: #23272a;

    -fe-shadow-highlight-color: #282828;
    -fe-outer-border: #343434;
    -fe-inner-border: #464646;

    -fe-control-inner-background: #23272a;
    -font-family: 'Roboto';
    -fe-background-color: #23272a;
    -fe-focus-background: #334455;
    -fe-focus-color: #3397B7;
    -dark-header: #23272a;
    -gray-darker: #2c2f33;
    -gray-dark: #2d2d2d;
    -gray-one: #383838;
    -gray-light: #444444;
    -gray-lighter: #5c5c5c;
    -text-primary: #FFF;
    -text-secondary: derive(#FFF, -5%);
    -text-disabled: derive(#FFF, -50%);

    -fe-text-box-border: #676B6F;
}
.accordian-prop {
    -fx-background-color: #23272a;
}
.anchor-pane-prop,
#Content-Area {
    -fx-background-image: url("../images/bg.png");
}

.button-hbox {
    -fx-background-color: linear-gradient(from 100.0% 0.0% to 100.0% 99.0% , #606c57 0.0% , #606c57 1.0% , #732929 43.0% , #702a2a 82.0% , #723232 100.0% );
        /*linear-gradient(to bottom,*/
            /*derive(-fe-inner-background,-3%),*/
            /*derive(-fe-inner-background, 0%) 50%,*/
            /*derive(-fe-inner-background,-3%));*/
    -fx-background-radius: 1, 2, 3, 2;
}
/*.style-button {*/
    /*-fx-background-color: -fe-shadow-highlight-color, -fe-inner-border, -fe-inner-border, -fe-body-color;*/

/*}*/

.font-radio-button {
    -fx-text-fill: -fe-inner-text;
}
.font-radio-button > .radio {
    -fx-background-color: -fe-body-color, -fe-inner-border, -fe-inner-border, -fe-body-color;
}
.font-radio-button:focused > .radio{
    -fx-background-color: -fe-focus-color, -fe-inner-border, -fe-body-color, -fx-faint-focus-color, -fe-body-color;

}
#Preview-Alpha {
    -fx-background-image: url("../images/chequers.png");
    -fx-background-color: #FFF;
    -fx-border-color: #31363B;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.style-button {
    -fx-font-size: .825em;
    -fx-background-color: transparent;
    -fx-border-color: lightgrey;
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
    -fx-border-radius: 5;
    -fx-text-fill: #E7E7E7;
}

.style-button:focused {
    /*-fx-background-color: -fe-focus-background;*/
    -fx-border-color: lightseagreen;
    -fx-max-width: 35px;
    -fx-max-height: 35px;
    -fx-text-fill: #E7E7E7;
}

/*******************************************************************************
 * Popup Color Picker MenuButton 			                                   *
 ******************************************************************************/
.popup-pane {
    -fx-background-color: -fe-body-background;
    -fx-border-color: transparent;
    -fe-focus-color: transparent;
    -fx-padding: 0;
}
.custom-menu-button {
    -fx-border-insets: -2;
    -fx-background-insets: -2;
}
.custom-menu-button .arrow {
    -fx-background-color: #7a8390;
}

.custom-menu-button {
    -fx-background-color: -gray-darker;
    -fx-border-color: -fe-border;
    -fx-font-size: 0.875em;
}

.custom-menu-item:focused,
.custom-menu-item:hover{
    -fx-text-fill: -text-primary;
    -fx-border-color: transparent;
    -fe-focus-color: -gray-one;
    -fx-background-radius: 1, 1, 1;
}

.custom-menu-button .label .text {
    -fx-fill: -text-secondary;
}

.color-label {
    -fx-text-fill: -text-primary;
    -fx-font-size: 0.1em;
    /*     -fx-padding: 0 0 0 5;*/
}
.color-text-field {
    -fx-text-fill: -text-secondary;
    -fx-font-size: 0.1em;
    -fx-padding: 0.166667em 0.7em 0.166667em 0.7em;
}

.split-pane {
       -fx-background-color: -gray-darker;
 }

.split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 2;
}

.split-pane-caspian:horizontal {
    -fx-background-insets: -1 -1 -1 -1;
    -fx-padding: 0;
}

.split-pane-caspian:horizontal .split-pane-divider {
    -fx-background-insets: -1 -1 -1 -1;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.slider-prop .track{
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
}

.slider-prop .thumb {
    -fx-border-color: -fe-border;
    -fx-border-radius: 20px;
    -fx-background-color: -fe-inner-background;
}

.slider-prop .thumb:hover{
    -fx-background-color: derive(-fe-body-background, 15%);
    -fx-border-color: derive(-fe-border, 20%);
}
.slider-prop .axis:bottom {
    -fx-tick-label-fill: -text-secondary;
    -fx-font-size: .63333em;
}

/*******************************************************************************
 * Title Pane    	                                                           *
 ******************************************************************************/

.titled-pane > .title {
    -fx-background-color:  derive(-dark-header, 0%), derive(-dark-header, 30%),  derive(-dark-header, -20%),  -dark-header;
    -fx-background-insets: 0 0 -1 0, 0, 1 0 0 0, 2 0 0 0;
    -fx-font-size: 13px;
    -fx-alignment: center-left;
    -fx-effect: dropshadow( two-pass-box, rgba(0, 0, 0, 0.2), 2, 0.0, 0, 1 );
}
.titled-pane:expanded .content {
    -fx-background-color: -fe-body-background;
    -fx-border-color: transparent;

}
.titled-pane .content {
    -fx-background-color: -fe-body-background;
    -fx-border-color: transparent;

}
.titled-pane .context-menu {
    -fx-background-color:  derive(-dark-header, 0%), derive(-dark-header, 30%),  derive(-dark-header, -20%),  -dark-header;
}

.titled-pane > .title > .text {
    -fx-fill: -text-primary;
}

.titled-pane > .title > .arrow-button {
    -fx-padding: -0.154em 0.583em 0.0em 0.0em;
}
.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: derive(rgb(147, 147, 147), -32%);
    -fx-padding: 0.154em 0.231em 0.231em 0.231em; /* 2 3 3 3 */
}

.sub-title {
    -fx-text-fill: -text-primary;
    -fx-border-width: 0.8 0 0.8 0;
    -fx-border-color: derive(rgb(122, 122, 122), -85%);
    -fx-background-color: -dark-header;
    /*-fx-background-color: linear-gradient(from 93% 10% to 33% 83%, derive(-dark-header, 21%), derive(-dark-header, 18%));*/
}

.pane-shadow {
    -fx-background-color: derive(rgb(147, 147, 147), -87%);
    -fx-effect: dropshadow( two-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 0 );
}

.prop-label {
    -fx-text-fill: -text-secondary;
    -fx-font-size: 13px;
}

.title-label {
    -fx-font-size: 13px;
    -fx-font-family: "Noto Sans";
    -fx-text-fill: -text-secondary;
    -fx-background-color: -fe-background-color;
}
.check-box-prop {
    -fx-text-fill: -text-secondary;
    -fx-font-size: 13px;
}

.check-box-prop > .box {
    -fx-background-color: -fe-inner-background;
}

.floating:top .tab-content-area {
    -fx-padding: 0;
    -fx-border-insets: 3, 3;
    -fx-border-radius: 3, 3;
    -fx-border-color: -fe-border;
    -fx-background-color: transparent;
    -fx-background-insets: 3, 3;
    -fx-background-radius: 3, 3;
}

.double-field  {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-font-size: 0.875em;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
    -fx-text-fill: #CCC;
    -fx-prompt-text-fill: -fe-inner-text;
    -fx-cursor: text;
}

.double-field:focused {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
}

.double-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.properties-combo-box {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -1;
}

.properties-combo-box .arrow-button {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -1;
    -fx-font-size: 0.875em;
}

.properties-combo-box .text {
    -fx-text-fill: -fe-inner-text;
}

.toggle-switch {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
    -fx-text-fill: #C98989;
    -fx-font-size: 0.63333em;
}

.toggle-switch:selected {
    -fx-text-fill: #6699ff;
    -fx-font-size: 0.63333em;
}

.virtualized-scroll-pane:vertical {
    -fx-background-color: -fe-inner-background;
}

.virtualized-scroll-pane:horizontal {
    -fx-background-color: -fe-inner-background;
}

.virtualized-scroll-pane .scroll-bar .thumb {
    -fx-background-color:derive(-fe-inner-background, 15%);
}

.virtualized-scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color:derive(-fe-inner-background, 30%);
}
.virtualized-scroll-pane .scroll-pane .corner {
    -fx-background-color: transparent;
}

.virtualized-scroll-pane .scroll-bar > .increment-button > .increment-arrow,
.virtualized-scroll-pane .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color:derive(#31363B,-30%), derive(#31363B,-25%);
}
.virtualized-scroll-pane .scroll-bar > .increment-button:hover > .increment-arrow,
.virtualized-scroll-pane .scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: derive(#31363B,-30%), derive(#31363B,-35%);
}
.virtualized-scroll-pane .scroll-bar > .increment-button:pressed > .increment-arrow,
.virtualized-scroll-pane .scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: derive(#31363B,-30%), derive(#31363B,-40%);
}

.virtualized-scroll-pane .scroll-bar:horizontal {
    -fx-background-color: derive(-fe-inner-background,-30%), linear-gradient(to bottom, derive(-fe-inner-background,-3%), derive(-fe-inner-background,5%) 50%, derive(-fe-inner-background,-3%));
    -fx-background-insets: 0, 1 0 1 0;
}
.virtualized-scroll-pane  .scroll-bar:vertical {
    -fx-background-color: derive(-fe-inner-background,-30%), linear-gradient(to right, derive(-fe-inner-background,-3%), derive(-fe-inner-background,5%) 50%, derive(-fe-inner-background,-3%));
    -fx-background-insets: 0, 0 1 0 1;
}
.sample-text {
    -fx-fill: -text-secondary;
}
.prop-label {
    -fx-text-fill: -text-secondary;
}
.font-picker-pane {
    -fx-background-color: -fe-body-background;
}

.font-radio-button {
    -fx-text-fill: -fe-inner-text;
}
.font-radio-button > .radio {
    -fx-background-color: -fe-body-color, -fe-inner-border, -fe-inner-border, -fe-body-color;
}
.font-radio-button:focused > .radio{
    -fx-background-color: -fe-focus-color, -fe-inner-border, -fe-body-color, -fx-faint-focus-color, -fe-body-color;

}
.style-choice-box .context-menu {
    -fx-text-fill: -text-secondary;
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
}

.style-choice-box .label {
    -fx-text-fill: -text-secondary;
    -fx-font-size: 1em;
}
.style-choice-box,
.style-choice-box:focused {
    -fx-background-color: -fe-shadow-highlight-color, -fe-control-inner-background, -fe-border, -fe-body-color;
    -fx-font-size:  0.93333em;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
}

/*Drop down list*/
.gradient-combo-box .list-view {
    -fx-background-color: -fe-border, -fe-control-inner-background;
}
.gradient-combo-box .list-cell .text {
    -fx-font-size: 0.8666em;
    -fx-fill: -fe-body-text;
}
.gradient-combo-box .combo-box-popup .list-view .list-cell {
    -fx-background-color: -fe-inner-background;
    -fx-text-fill: -text-secondary;
}
.gradient-combo-box,
.gradient-combo-box .combo-box-base {
    -fx-background-color: -fe-shadow-highlight-color,
    -fe-control-inner-background, -fe-border,  -fe-control-inner-background;
}
/*Make focus mirror size and color scheme as default*/
.gradient-combo-box:focused,
.gradient-combo-box .combo-box-base:focused {
    -fx-background-color: -fe-shadow-highlight-color,
    -fe-control-inner-background, -fe-border,  -fe-control-inner-background;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */

}


/*iiii*/

/*Drop down list*/
.family-combo-box .list-view {
    -fx-background-color: -fe-border, -fe-control-inner-background;
}
.family-combo-box .list-cell .text {
    -fx-font-size: 0.8666em;
    -fx-fill: -fe-body-text;
}
.family-combo-box .combo-box-popup .list-view .list-cell {
    -fx-background-color: -fe-inner-background;
    -fx-text-fill: -text-secondary;
}
.family-combo-box,
.family-combo-box .combo-box-base {
    -fx-background-color: -fe-shadow-highlight-color,
    -fe-control-inner-background, -fe-border,  -fe-control-inner-background;
}
/*Make focus mirror size and color scheme as default*/
.family-combo-box:focused,
.family-combo-box .combo-box-base:focused {
    -fx-background-color: -fe-shadow-highlight-color,
    -fe-control-inner-background, -fe-border,  -fe-control-inner-background;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */

}

/*******************************************************************************
 *                                                                             *
 * Editable ComboBox                                                           *
 *                                                                             *
 * The editable ComboBox TextBox inherits its properties from the TextBox      *
 * Control. Only the properties with values that are different from the        *
 * TextBox are specified here.                                                 *
 *                                                                             *
 ******************************************************************************/
/* Drop down list background and border */
.size-combo-box .list-view {
    -fx-background-color: -fe-border, -fe-control-inner-background;
}
.size-combo-box .combo-box-popup .list-view .list-cell {
    -fx-background-color: -fe-inner-background;
    -fx-text-fill: -text-secondary;
}
/*Remove the border around arrow button*/
.size-combo-box:editable > .arrow-button,
.size-combo-box:editable > .arrow-button:focused {
    -fx-background-color: -fe-control-inner-background, -fe-control-inner-background;
}

.size-combo-box:editable > .text-field {
    -fx-background-color: -fe-control-inner-background;
    -fx-text-fill: -fe-inner-text;
}

.size-combo-box:editable, .size-combo-box:editable:focused {
    -fx-background-color: -fe-shadow-highlight-color, -fe-border, -fe-control-inner-background, -fe-border;
}
.size-combo-box:editable .text-field {
    /*-fx-highlight-fill: deepskyblue;*/
    -fx-highlight-text-fill: -text-primary;
}