/*
    Created on : Apr 24, 2017, 4:00:53 AM
    Author     : Eric Canull
*/
.root {
    -fe-body-background: #2c2f33;
    -fe-inner-background: #23272a;
    -fe-border: #676B6F;
    -fe-body-text: #D7D7D7;
    -fe-inner-text: #FFF;
    -font-family: 'Roboto';
    -fx-background-color: #2c2f33;
    -fx-focus-color: #339797;
    -dark-header: #23272a;
    -gray-darker: #2c2f33;
    -gray-dark: #2d2d2d;
    -gray-one: #383838;
    -gray-light: #444444;
    -gray-lighter: #5c5c5c;
    -text-primary: #FFF;
    -text-secondary: derive(#FFF, -5%);
    -text-disabled: derive(#FFF, -50%);
}
#Preview-Alpha {
    -fx-background-image: url("../images/chequers.png");
    -fx-background-color: #FFF;
    -fx-border-color: #31363B;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}
/*******************************************************************************
 * Popup Color Picker MenuButton 			                                   *
 ******************************************************************************/
.popup-pane {
    -fx-background-color: -fe-body-background;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-padding: 0;
}
.custom-menu-button {
    -fx-border-insets: -2;
    -fx-background-insets: -2;
}
.custom-menu-button .arrow {
    -fx-background-color: #7a8390;
}

.custom-menu-button {
    -fx-background-color: -gray-darker;
    -fx-border-color: -fe-border;
    -fx-font-size: 0.875em;
}

.custom-menu-item:focused,
.custom-menu-item:hover{
    -fx-text-fill: -text-primary;
    -fx-border-color: transparent;
    -fx-focus-color: -gray-one;
    -fx-background-radius: 1, 1, 1;
}

.custom-menu-button .label .text {
    -fx-fill: -text-secondary;
}

.color-label {
    -fx-text-fill: -text-primary;
    -fx-font-size: 0.1em;
    /*     -fx-padding: 0 0 0 5;*/
}
.color-text-field {
    -fx-text-fill: -text-secondary;
    -fx-font-size: 0.1em;
    -fx-padding: 0.166667em 0.7em 0.166667em 0.7em;
}

.split-pane {
       -fx-background-color: -gray-darker;
 }

.split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.split-pane-caspian:horizontal {
    -fx-background-insets: -1 -1 -1 -1;
    -fx-padding: 0;
}

.split-pane-caspian:horizontal .split-pane-divider {
    -fx-background-insets: -1 -1 -1 -1;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.gradient-combo-box .list-cell .text {
    -fx-font-size: 0.8666em;
    -fx-fill: -fe-body-text;
}
.gradient-combo-box .combo-box-popup .list-view .list-cell {
    -fx-background-color: -fe-inner-background;
    -fx-text-fill: -text-secondary;
}

.gradient-combo-box {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    /*-fx-border-color: -fe-border;*/
    /*-fx-background-insets: 0;*/
}
.gradient-combo-box .arrow-button {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    /*-fx-border-color: transparent;*/
    /*-fx-border-width: 0.2 .2 0.2 .2;*/
    /*-fx-background-insets: 0;*/
    /*-fx-border-insets: 1;*/
}

#font-box {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size:  0.93333em;
}

#font-box .context-menu {
    -fx-text-fill: -text-secondary;
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
}

#font-box .label {
    -fx-text-fill: -text-secondary;
    -fx-font-size: 1em;
}

.slider-prop .track{
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
}

.slider-prop .thumb {
    -fx-border-color: -fe-border;
    -fx-border-radius: 20px;
    -fx-background-color: -fe-inner-background;
}

.slider-prop .thumb:hover{
    -fx-background-color: derive(-fe-body-background, 15%);
    -fx-border-color: derive(-fe-border, 20%);
}
.slider-prop .axis:bottom {
    -fx-tick-label-fill: -text-secondary;
    -fx-font-size: .63333em;
}

/*******************************************************************************
 * Title Pane    	                                                           *
 ******************************************************************************/

.titled-pane > .title {
    -fx-background-color:  derive(-dark-header, 0%), derive(-dark-header, 30%),  derive(-dark-header, -20%),  -dark-header;
    -fx-background-insets: 0 0 -1 0, 0, 1 0 0 0, 2 0 0 0;
    -fx-font-size: 13px;
    -fx-alignment: center-left;
    -fx-effect: dropshadow( two-pass-box, rgba(0, 0, 0, 0.2), 2, 0.0, 0, 1 );
}
.titled-pane:expanded .content {
    -fx-background-color: -fe-body-background;
    -fx-border-color: transparent;

}
.titled-pane .content {
    -fx-background-color: -fe-body-background;
    -fx-border-color: transparent;

}
.titled-pane .context-menu {
    -fx-background-color:  derive(-dark-header, 0%), derive(-dark-header, 30%),  derive(-dark-header, -20%),  -dark-header;
}

.titled-pane > .title > .text {
    -fx-fill: -text-primary;
}

.titled-pane > .title > .arrow-button {
    -fx-padding: -0.154em 0.583em 0.0em 0.0em;
}
.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: derive(rgb(147, 147, 147), -32%);
    -fx-padding: 0.154em 0.231em 0.231em 0.231em; /* 2 3 3 3 */
}

.sub-title {
    -fx-text-fill: -text-primary;
    -fx-border-width: 0.8 0 0.8 0;
    -fx-border-color: derive(rgb(122, 122, 122), -85%);
    -fx-background-color: -dark-header;
    /*-fx-background-color: linear-gradient(from 93% 10% to 33% 83%, derive(-dark-header, 21%), derive(-dark-header, 18%));*/
}

.pane-shadow {
    -fx-background-color: derive(rgb(147, 147, 147), -87%);
    -fx-effect: dropshadow( two-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 0 );
}

.prop-label {
    -fx-text-fill: -text-secondary;
    -fx-font-size: 13px;
}

.title-label {
    -fx-font-size: 13px;
    -fx-text-fill: -text-secondary;
}
.check-box-prop {
    -fx-text-fill: -text-secondary;
    -fx-font-size: 13px;
}

.check-box-prop > .box {
    -fx-background-color: -fe-inner-background;
}

.floating:top .tab-content-area {
    -fx-padding: 0;
    -fx-border-insets: 3, 3;
    -fx-border-radius: 3, 3;
    -fx-border-color: -fe-border;
    -fx-background-color: transparent;
    -fx-background-insets: 3, 3;
    -fx-background-radius: 3, 3;
}

.double-field  {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-font-size: 0.875em;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
    -fx-text-fill: #CCC;
    -fx-prompt-text-fill: -fe-inner-text;
    -fx-cursor: text;
}

.double-field:focused {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
}

.double-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

/*.integer-field:focused {*/
    /*-fx-background-color: -fe-inner-background;*/
    /*-fx-background-insets: -0.2, 1, 2;*/
    /*-fx-background-radius: 3.2, 2, 2;*/
    /*-fx-border-radius: 2.2, 2, 2;*/
/*}*/

.properties-combo-box {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -1;
}

.properties-combo-box .arrow-button {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -1;
    -fx-font-size: 0.875em;
}

.properties-combo-box .text {
    -fx-text-fill: -fe-inner-text;
}

.style-button {
    -fx-background-color: transparent;
    -fx-border-color: #5c5c5c;
    -fx-pref-width: 90px;
    -fx-pref-height: 30px;
    -fx-border-radius: 5;
    -fx-text-fill: #E7E7E7;
}

.style-button:focused {
    -fx-background-color: #334455;
    -fx-border-color: #5c5c5c;
    -fx-text-fill: #E7E7E7;
}

.toggle-switch {
    -fx-background-color: -fe-inner-background;
    -fx-border-color: -fe-border;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
    -fx-text-fill: #C98989;
    -fx-font-size: 0.63333em;
}

.toggle-switch:selected {
    -fx-text-fill: #6699ff;
    -fx-font-size: 0.63333em;
}
