/*
Permissions of this copyleft license are conditioned on making available complete
source code of licensed works and modifications under the same license or the
GNU GPLv3. Copyright and license notices must be preserved. Contributors provide
an express grant of patent rights. However, a larger work using the licensed work
through interfaces provided by the licensed work may be distributed under
different terms and without source code for the larger work.
*/
/*
    Created on : Apr 24, 2017, 4:00:53 AM
    Author     : Eric Canull
*/
.root {
    -fe-header-background: #00466B;
    -fe-body-background: #F1F4F6;
    -fe-inner-background: #F1F4F6;

    -fe-header-text: #F1F4F6;
    -fe-body-text: #000;
    -fe-inner-text: #000;
    -fe-border: #282828;

    -fx-background-color: #F1F4F6;
    -fx-focus-color: #339797;
}

/*******************************************************************************
 * Popup Color Picker MenuButton 			                                   *
 ******************************************************************************/
.popup-pane {
    -fx-padding: 0;
}
.custom-menu-button {
    -fx-border-insets: -2;
    -fx-background-insets: -2;
}
.custom-menu-button .arrow {
}

.custom-menu-button {
    -fx-border-color: -fe-border;
    -fx-font-size: 0.875em;
}
.custom-menu-item:focused,
.custom-menu-item:hover{
    /*       -fx-background-insets: 1, 1, 1;*/
    -fx-background-radius: 1, 1, 1;
}

.custom-menu-button .label .text {
}

.color-label {
    -fx-font-size: 0.1em;
    /*     -fx-padding: 0 0 0 5;*/
}

.color-text-field {
    -fx-font-size: 0.1em;
    -fx-padding: 0.166667em 0.7em 0.166667em 0.7em;
}

#gradientComboBox .list-cell {
}

#gradientComboBox {
    -fx-border-radius: 3, 2, 2;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 0;
}

.split-pane {
}

.split-pane-divider {
    -fx-padding: 0;
}

.split-pane-caspian:horizontal {
}

.split-pane-caspian:horizontal .split-pane-divider {
}

#gradientComboBox .combo-box-popup .list-view .list-cell {
    -fx-padding: 0;
}

#font-box {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size:  0.83333em;
}
#font-box .context-menu {
    -fx-background-color: rgb(189,189,189);
}

#font-box .label {
    -fx-font-size: .83333em;
}

.slider-prop .track{
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
}

.slider-prop .axis:bottom {
    -fx-font-size: .63333em;
}

/*******************************************************************************
 * Title Pane    	                                                       *
 ******************************************************************************/
.titled-pane > .title {
    -fx-background-insets: 0 0 -1 0, 0, 1 0 0 0, 2 0 0 0;
    -fx-padding: 0.385em 0.692em 0.231em 0.692em;
    -fx-font-size: 0.875em;
    -fx-alignment: center-left;
    -fx-effect: dropshadow( two-pass-box, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 1 );
}
.titled-pane:expanded .content {
    -fx-border-color: transparent;

}

.titled-pane > .title > .arrow-button {
    -fx-padding: -0.154em 0.583em 0.0em 0.0em;
}
.titled-pane > .title > .arrow-button > .arrow {
    -fx-padding: 0.154em 0.231em 0.231em 0.231em; /* 2 3 3 3 */
}

.sub-title {
    -fx-text-fill: white;
    -fx-font-size: 0.875em;
    -fx-border-width: 0.5 0 0.5 0;
    -fx-border-color: #B2B2B2;
    -fx-background-color:
            linear-gradient(to left,  white 18%, derive(#B2B2B2, 21%) 90%);
}
.pane-shadow {
    -fx-background-color: derive(rgb(147, 147, 147), -87%);
    -fx-effect: dropshadow( two-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 0 );
}
.prop-label .text {
    -fx-font-size:  0.83333em
}

.prop-label {
    -fx-font-size: 0.73333em;
}

.title-label {
    -fx-font-size: 0.875em;
}
.check-box-prop {
    -fx-font-size: 0.83333em;
}

#input-text-field {
    -fx-skin: "com.sun.javafx.scene.control.skin.TextFieldSkin";
    -fx-text-fill: -fe-inner-text;
    -fx-font-size: 0.875em;

}
.floating:top .tab-content-area {
    -fx-padding: 0;
    -fx-border-insets: 3, 3;
    -fx-border-radius: 3, 3;
    -fx-background-color: transparent;
    -fx-background-insets: 3, 3;
    -fx-background-radius: 3, 3;
}
.input-field {
    -fx-skin: "com.fxexperience.javafx.scene.control.skin.InputFieldSkin";
    -fx-border-color: #65d2c6;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
    -fx-cursor: text;

}

.input-field:focused {
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
}

.input-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.integer-field {
    -fx-skin: "com.fxexperience.javafx.scene.control.skin.IntegerFieldSkin";
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
    -fx-cursor: text;
}

.integer-field:focused {
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
}

.integer-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.double-field {
    -fx-skin: "com.fxexperience.javafx.scene.control.skin.DoubleFieldSkin";
    -fx-font-size: 0.83333em;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
    -fx-cursor: text;
}

.double-field:focused {
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
}

.double-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.webcolor-field {
    -fx-skin: "com.fxexperience.javafx.scene.control.skin.WebColorFieldSkin";
    -fx-font-size: 0.83333em;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
    -fx-cursor: text;
}

.webcolor-field:focused {
    -fx-border-color: -fe-border;
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
}

.webcolor-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
.properties-combo-box {
    -fx-background-insets: -1;
}
.properties-combo-box .arrow-button {
    -fx-background-insets: -1;
    -fx-font-size: 0.875em;
}

.properties-combo-box .text {
    -fx-text-fill: -fe-inner-text;
}

.toggle-switch {
    -fx-background-insets: -0.2, 1, 2;
    -fx-background-radius: 3.2, 2, 2;
    -fx-border-radius: 2.2, 2, 2;
    -fx-text-fill: #C98989;
    -fx-font-size: 0.63333em;
}

.toggle-switch:selected {
    -fx-text-fill: #6699ff;
    -fx-font-size: 0.63333em;
}